<table class="ui table">
    <thead>
    <tr>
        <th>Time Stamp</th>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Comment</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each member.assessments}}
        <tr>
            <td>
                {{timestamp}}
            </td>
            <td>
                {{weight}}
            </td>
            <td>
                {{chest}}
            </td>
            <td>
                {{thigh}}
            </td>
            <td>
                {{upperarm}}
            </td>
            <td>
                {{waist}}
            </td>
            <td>
                {{hips}}
            </td>
            <td>
                <form class="ui segment form" action="/member/{{../member.id}}/addcomment/{{id}}" method="POST">
                    <div class="field">
                        <input placeholder="Please enter comment" type="text" name="comment" value="{{comment}}">
                    </div>
                    <button class="ui blue submit button">Add Comment</button>
                </form>
            </td>
            <td>
                <a href="/member/{{../member.id}}/deleteassessment/{{id}}" class="ui icon button">
                    <i class="icon trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

